Package: clixs
Version: 1.0-5
Section: base
Priority: optional
Architecture: all
Depends: git (>= 1:1.9.1-1)
Maintainer: Michael Salisbury <michaelsalisbury@gmail.com>
Description: Command Line Extentions and Scripts
 This package install dependencies and sets up a github clone
 Re-run /usr/local/share/clixs/src/setup-clixs.sh to update
 As additional dependencies are added the local deb will be updated
 (the space before each line in the description is important)
